In [5]:
from sklearn.datasets import load_iris
from sklearn.model_selection import  train_test_split
 # Load the Iris dataset
data = load_iris()
X, y = data.data, data.target
 # Split into training (70%) and test
#  (30%) sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size
 =0.3, random_state=42)
 # Further split training set into
#  training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train,
 test_size=0.2, random_state=42)
print("Training set size:", X_train.shape[0])
print("Validation set size:", X_val.shape[0])
print("Test set size:", X_test.shape [0])

Training set size: 84
Validation set size: 21
Test set size: 45

In [7]:
import pandas as pd

# Example of ordinal data
data = {'Education': ['High School', 'Bachelors' , 'Masters', 'PhD']}
df = pd.DataFrame(data)
df.head()

     Education
0  High School
1    Bachelors
2      Masters
3          PhD