HR added unwanted feature called heart rate during employee registration.
Please prepare your own employee dataset with those feature (Name, Age, Salary, heart rate payment status) 
add 20 random records from after dataset preparation keep it in data frame drop heart rate feature then store 
final dataset into csv file.

In [4]:
import pandas as pd
import random
# Prepare a dataset with the features: Name, Age, Salary, Heart Rate, Payment Status
data = {
    "Name": [f"Employee_{i}" for i in range(1, 21)],
    "Age": [random.randint(20, 60) for _ in range(20)],
    "Salary": [random.randint(30000, 100000) for _ in range(20)],
    "Heart Rate": [random.randint(60, 100) for _ in range(20)],
    "Payment Status": [random.choice(["Paid", "Unpaid"]) for _ in range(20)]
}

# Create DataFrame
df = pd.DataFrame(data)
df.head()

         Name  Age  Salary  Heart Rate Payment Status
0  Employee_1   44   80864          80         Unpaid
1  Employee_2   36   71214          60         Unpaid
2  Employee_3   56   30623          82           Paid
3  Employee_4   30   33858          63         Unpaid
4  Employee_5   35   40166          80           Paid

In [6]:

# Drop the "Heart Rate" feature
df_final = df.drop(columns=["Heart Rate"])

# Store the final dataset into a CSV file
file_path = "employee_dataset.csv"
df_final.to_csv(file_path, index=False)

print(f"Dataset saved to {file_path}")

file = "employee_dataset.csv"

df = pd.read_csv(file)
df.head()

Dataset saved to employee_dataset.csv

         Name  Age  Salary Payment Status
0  Employee_1   44   80864         Unpaid
1  Employee_2   36   71214         Unpaid
2  Employee_3   56   30623           Paid
3  Employee_4   30   33858         Unpaid
4  Employee_5   35   40166           Paid

In [7]:
# Importing pandas
import pandas as pd

# Now you can use pandas functionality in your script
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

    Name  Age
0  Alice   25
1    Bob   30