In [243]:
import mysql.connector
print("MySQL Connector is working!")

MySQL Connector is working!

In [244]:
# DATABASE CREATION
import mysql.connector
conn = mysql.connector.connect(host="localhost", user="root", password="")
cursor = conn.cursor()
my_db = "university_db"
try:
    cursor.execute(f"CREATE DATABASE {my_db} ")
    print("Database created successfully!")
except:
    print(f"Failed to create database called: {my_db}")
    
# cursor.close()
# conn.close()

Failed to create database called: university_db

In [245]:
# REUSABLE LINE FOR CONNECTION OF DB AND ITS TABLES
my_db="university_db"
table = "students"
conn = mysql.connector.connect(host="localhost", user="root", password="", database=my_db)
cursor = conn.cursor()

In [246]:
# conn = mysql.connector.connect(host="localhost", user="root", password="", database=my_db)
# cursor = conn.cursor()
# table= "students"
try:
    
    cursor.execute(f"""
    CREATE TABLE {table} (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT,
    major VARCHAR(100)
    )
    """)
    print(f"{table} Table created successfully!")
except:
    print(f'failed to create a table: {table}')


# cursor.close()
# conn.close()

failed to create a table: students

In [247]:
# conn = mysql.connector.connect(host="localhost", user="root", password="", database=my_db)
# cursor = conn.cursor()
# table= "student"
try: 
    cursor.execute(f"""
    CREATE TABLE {table} (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT,
    major VARCHAR(100)
    )
    """)
    if table == "":
        print(f"{table} Table created successfully!")        
    else:
       print(f'table {table} already exist')
except:
    print(f'failed to create a table: {table}')


# cursor.close()
# conn.close()

failed to create a table: students

In [248]:
# INSERT DATA INTO MYSQL TABLE
try:
    sql = f"INSERT INTO {table} (name, age, major) VALUES (%s, %s, %s)"
    values = ("KALISA Emmy", 30, "Civil Engineeriing")
    # values = ("Abimana Afssa", 27, "Electronics")
    cursor.execute(sql,values)
    conn.commit() # SAVE THE CHANGE INTO TABLE
    print(cursor.rowcount, f"New {table} Record Inserted Successfully!")
except:
    print(f"Failed to insert {table} data")

1 New students Record Inserted Successfully!

In [249]:
# SELECT DATA FROM MYSQL
# cursor = conn.cursor()
try:
    cursor.execute(f""" SELECT * FROM {table} """)
    result = cursor.fetchall()
    for row in result:  
        print(f"{row}") 
except:
    print(f"failed to fetch records from {table} table")  
    
# cursor.close()
# conn.close()

(1, 'UMUHOZA Ketia', 30, 'IT')
(2, 'UWIMANA MUHIRE', 22, 'CS')
(5, 'KALISA Emmy', 33, 'Civil Engineeriing')
(7, 'Abimana Afssa', 35, 'Electronics')
(8, 'KALISA Emmy', 30, 'Civil Engineeriing')
(9, 'KALISA Emmy', 30, 'Civil Engineeriing')
(10, 'KALISA Emmy', 30, 'Civil Engineeriing')

In [250]:
# DELETE A RECORD FROM TABLE
try:
    cursor.execute(f""" DELETE FROM {table} WHERE id=6""")
    conn.commit()# save changes
    print(f'{cursor.rowcount}, Record Deleted from {table} table successfully!')

except:
    print(f"failed to delete records from {table} table")

0, Record Deleted from students table successfully!

In [251]:
# WHERE CONDITION
try:
    cursor.execute(f"SELECT * FROM {table} WHERE age >= 21")
    result = cursor.fetchall()
    for row in result:
        print(row)
except:
    print(f"Failed to Fetch Record from {table} Table")

(1, 'UMUHOZA Ketia', 30, 'IT')
(2, 'UWIMANA MUHIRE', 22, 'CS')
(5, 'KALISA Emmy', 33, 'Civil Engineeriing')
(7, 'Abimana Afssa', 35, 'Electronics')
(8, 'KALISA Emmy', 30, 'Civil Engineeriing')
(9, 'KALISA Emmy', 30, 'Civil Engineeriing')
(10, 'KALISA Emmy', 30, 'Civil Engineeriing')

In [252]:
# ORDER BY CONDITION
try:
    cursor.execute(f"SELECT * FROM {table} ORDER BY name ASC")
    result = cursor.fetchall()
    for row in result:
        print(row)
except:
    print(f"Failed to Fetch Record from {table} Table")

(7, 'Abimana Afssa', 35, 'Electronics')
(5, 'KALISA Emmy', 33, 'Civil Engineeriing')
(8, 'KALISA Emmy', 30, 'Civil Engineeriing')
(9, 'KALISA Emmy', 30, 'Civil Engineeriing')
(10, 'KALISA Emmy', 30, 'Civil Engineeriing')
(1, 'UMUHOZA Ketia', 30, 'IT')
(2, 'UWIMANA MUHIRE', 22, 'CS')

In [253]:
# DROP TABLE
# CREATE NEW TABLE MANUALLY FROM MYSQL THEN DEFINE IT IN ORDER TO DROP IT
# IT'S BECAUSE I DON'T WANT TO DROP MY WORKING TABLE
drop_table = "class"
try:
    cursor.execute(f"DROP TABLE {drop_table}")
    print(f"Table {drop_table} has dropped!")
except:
    print(f"Failed to Drop {drop_table} Table")

Failed to Drop class Table

In [254]:
# UPDATE TABLE
try:
    # BEFORE UPDATE
    cursor.execute(f"SELECT * FROM {table} WHERE id = 5")
    result = cursor.fetchall()
    for row in result:
        print(row)
    print(f"----------" * 10)
    # DURING UPDATED
    cursor.execute(f"UPDATE {table} SET age = 33 WHERE id = 5")
    conn.commit()# save changes    
    print(f"{cursor.rowcount}, Record with ID=5 Updated Successfully!")    
    # AFTER UPDATE
    print(f"----------" * 10)
    # Display Updated data
    cursor.execute(f"SELECT * FROM {table} WHERE id = 5")
    result = cursor.fetchall()
    for row in result:
        print(row)
except:
    print(f"Failed to Update a Record from {table} Table")

(5, 'KALISA Emmy', 33, 'Civil Engineeriing')
----------------------------------------------------------------------------------------------------
0, Record with ID=5 Updated Successfully!
----------------------------------------------------------------------------------------------------
(5, 'KALISA Emmy', 33, 'Civil Engineeriing')

In [255]:
# LIMIT RESULTS TO BE DISPLAYED
try:
    # BEFORE LIMIT
    print(f"------BEFORE LIMIT----" * 3) 
    print("\n")
    cursor.execute(f"SELECT * FROM {table}")
    result = cursor.fetchall()
    for row in result:
        print(row)
    #  AFTER LIMIT 
    print("\n")
    print(f"------AFTER LIMIT----" * 3)  
    print("\n")
    cursor.execute(f"SELECT * FROM {table} LIMIT 2")
    result = cursor.fetchall()
    for row in result:
        print(row)
except:
    print(f"Failed to Fetch Record from {table} Table")

------BEFORE LIMIT----------BEFORE LIMIT----------BEFORE LIMIT----


(1, 'UMUHOZA Ketia', 30, 'IT')
(2, 'UWIMANA MUHIRE', 22, 'CS')
(5, 'KALISA Emmy', 33, 'Civil Engineeriing')
(7, 'Abimana Afssa', 35, 'Electronics')
(8, 'KALISA Emmy', 30, 'Civil Engineeriing')
(9, 'KALISA Emmy', 30, 'Civil Engineeriing')
(10, 'KALISA Emmy', 30, 'Civil Engineeriing')


------AFTER LIMIT----------AFTER LIMIT----------AFTER LIMIT----


(1, 'UMUHOZA Ketia', 30, 'IT')
(2, 'UWIMANA MUHIRE', 22, 'CS')

In [ ]:
# JOIN TABLES
course_table = "courses"
try:
    # BEFORE JOIN
    print(f"------before JOIN----" * 3) 
    print("\n")
    print(f"------STUDENTS DATA----" * 3) 
    print("\n")
    cursor.execute(f"SELECT * FROM {table}")
    result = cursor.fetchall()
    for row in result:
        print(row)
    print("\n")
    print(f"------COURSES DATA----" * 3) 
    print("\n")
    cursor.execute(f"SELECT * FROM {course_table}")
    result = cursor.fetchall()
    for row in result:
        print(row)
        
    # ===================================JOIN PART=================================================
    #  AFTER JOIN 
    print("\n")
    print(f"------AFTER JOIN----" * 3)  
    print("\n")
    cursor.execute(f"""SELECT {table}.name, {table}.age, {table}.major, {course_table}.cname 
                   FROM {table} JOIN courses ON {table}.id = {course_table}.sid""")
    result = cursor.fetchall()
    for row in result:
        print(row)
except:
    print(f"Failed to Fetch Record from {table} Table")

------before JOIN----------before JOIN----------before JOIN----


------STUDENTS DATA----------STUDENTS DATA----------STUDENTS DATA----


(1, 'UMUHOZA Ketia', 30, 'IT')
(2, 'UWIMANA MUHIRE', 22, 'CS')
(5, 'KALISA Emmy', 33, 'Civil Engineeriing')
(7, 'Abimana Afssa', 35, 'Electronics')
(8, 'KALISA Emmy', 30, 'Civil Engineeriing')
(9, 'KALISA Emmy', 30, 'Civil Engineeriing')
(10, 'KALISA Emmy', 30, 'Civil Engineeriing')


------COURSES DATA----------COURSES DATA----------COURSES DATA----


(1, 'Python', 7)
(2, 'Advanced Web', 1)


------AFTER JOIN----------AFTER JOIN----------AFTER JOIN----


('Abimana Afssa', 35, 'Electronics', 'Python')
('UMUHOZA Ketia', 30, 'IT', 'Advanced Web')