In [168]:
a = 10  # Binary: 1010
b = 4   # Binary: 0100

# AND Operator
print("a & b =", a & b)  # 0 (0000)

# OR Operator
print("a | b =", a | b)  # 14 (1110)

# XOR Operator
print("a ^ b =", a ^ b)  # 14 (1110)

# NOT Operator (bitwise negation)
print("~a =", ~a)  # -11 (inverts bits and adds 1)

# Left Shift Operator (Shifts bits left by 1 position)
print("a << 1 =", a << 1)  # 20 (10100)

# Right Shift Operator (Shifts bits right by 1 position)
print("a >> 1 =", a >> 1)  # 5 (0101)

a & b = 0
a | b = 14
a ^ b = 14
~a = -11
a << 1 = 20
a >> 1 = 5

In [169]:
# List
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)  # Output: True

# Tuple
numbers = (1, 2, 3, 4, 5)
print(3 in numbers)  # Output: True

# String
text = "Hello, World!"
print("Hellos" in text)  # Output: True

True
True
False

In [170]:
# List
fruits = ["apple", "banana", "cherry"]
print("grape" not in fruits)  # Output: True

# Tuple
numbers = (1, 2, 3, 4, 5)
print(10 not in numbers)  # Output: True

# String
text = "Hello, World!"
print("Python" not in text)  # Output: True

True
True
True

In [171]:
# List
fruits = [ "banana","apple", "cherry"]
fruits.reverse()
fruits

['cherry', 'apple', 'banana']

In [172]:
list_example = list(("dog", "cat", "rabbit"))
list_example

['dog', 'cat', 'rabbit']

In [173]:
fruits = ["banana", "apple", "cherry","banana"]
# Count occurrences of 'banana'
fruit_count = fruits.count("banana")  
print(fruit_count)

2

In [174]:
fruits = ["apple", "cherry","banana"]
  # Get the index of 'banana'
index_of_banana = fruits.index("banana")
print(index_of_banana)

2

In [175]:
fruits = ["banana", "apple", "cherry"]
more_fruits = ["orange", "kiwi", "grapes"]
# Extend the fruits list with more_fruits
fruits.extend(more_fruits)
print(fruits)

['banana', 'apple', 'cherry', 'orange', 'kiwi', 'grapes']

In [176]:
# Tuple
# Tuple Creation
colors = ("red", "green", "blue")
colors

('red', 'green', 'blue')

In [177]:
temp_list = list(colors)
print(temp_list)
# Change green to yellow
temp_list[1] = "yellow"
colors = tuple(temp_list)
colors

['red', 'green', 'blue']

('red', 'yellow', 'blue')

In [178]:
# Tuple
# Tuple Creation
colors = ("red", "green", "blue")
for color in colors:
    print(color)

red
green
blue

In [179]:
# Tuple
# Tuple Creation
colors = ("red", "green", "blue")
if "red" in colors:
    print("Yes, 'red' is in the tuple")

Yes, 'red' is in the tuple

In [180]:
# Tuple
# Tuple Creation
colors = ("red", "green", "blue")
if colors[0] in colors:
    print(f"Yes, {colors[0]} is in the tuple")

Yes, red is in the tuple

In [181]:
# Tuple
# Tuple Creation
colors = ("red", "green", "blue")
print(len(colors))

3

In [182]:
# Tuple
# Tuple Creation
colors = ("red", "green", "blue")
colors += ("purple",)
colors

('red', 'green', 'blue', 'purple')

In [183]:
colors = ("red", "green", "blue")
del colors
colors = ("yellow", "purple", "orange")  # Assigning a new tuple
print(colors)

('yellow', 'purple', 'orange')

In [184]:
colors = ("red", "green", "blue")
tuple1 = (1, 2, 3)
tuple2 = (4, 5)
# JOIN TUPLES
result = tuple1 + tuple2
result

(1, 2, 3, 4, 5)

In [185]:
# The Tuple Constructor
my_tuple = tuple(("apple", "banana"))
my_tuple

('apple', 'banana')

In [186]:
colors = ("red", "green", "blue","red")
print(f"total {colors[0]} = {colors.count("red")}")
print(f"index of {colors[1]} = {colors.index("green")}")

total red = 2
index of green = 1

In [187]:
# set
# set creation
my_set = {"apple", "banana", "cherry"}
my_set.add("orange")
my_set

{'apple', 'banana', 'cherry', 'orange'}

In [188]:
# set
# set creation
my_set = {"apple", "banana", "cherry","mango"}
print(len(my_set))

4

In [189]:
# set
# set creation
my_set = {"apple", "banana", "cherry","mango"}
my_set.remove("banana")  # Throws error if not found
my_set

{'apple', 'cherry', 'mango'}

In [190]:
# set
# set creation
my_set = {"apple", "banana", "cherry","mango"}
my_set.discard("banana")  # No error if not found
my_set

{'apple', 'cherry', 'mango'}

In [191]:
my_set = {"apple", "banana", "cherry","mango"}
set1 = {1, 2, 3}
set2 = {4, 5, 6}
merged_set = set1.union(set2).union(my_set)
merged_set

{1, 2, 3, 4, 5, 6, 'apple', 'banana', 'cherry', 'mango'}

In [192]:
# Set Constructor
my_set = set(("dog", "cat", "rabbit"))
my_set

{'cat', 'dog', 'rabbit'}

In [193]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6}

In [199]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6,9}
common = set1.symmetric_difference(set2)
common

{1, 2, 3, 9}

In [ ]:
# DICTIONARY
student = {"name": "John", "age": 25, "city": "New York"}
# access single feature
print(student["name"])  # Output: John
# access whole feature
student

John

{'name': 'John', 'age': 25, 'city': 'New York'}

In [211]:
# DICTIONARY
student = {"name": "John", "age": 25, "city": "New York"}
# features = key
# value = record fron feature
for key, value in student.items():
    print(key, ":", value)

name : John
age : 25
city : New York

In [213]:
# DICTIONARY
student = {"name": "John", "age": 25, "city": "New York"}
if "name" in student:
    print("Key exists!")

Key exists!

In [216]:
# DICTIONARY
student = {"name": "John", "age": 25, "city": "New York"}
if "John" in student.values():
    print("Value exists!")  # Output: Value exists!

Value exists!

In [217]:
# DICTIONARY
student = {"name": "John", "age": 25, "city": "New York"}
print(len(student))

3

In [219]:
# DICTIONARY
student = {"name": "John", "age": 25, "city": "New York"}
student["course"] = "AI"
student

{'name': 'John', 'age': 25, 'city': 'New York', 'course': 'AI'}

In [223]:
# DICTIONARY
student = {"name": "John", "age": 25, "city": "New York"}
print(f"Original dict: {student}")
new_dict = student.copy()
print(f"Copy of Dict:  {new_dict}")

Original dict: {'name': 'John', 'age': 25, 'city': 'New York'}
Copy of Dict:  {'name': 'John', 'age': 25, 'city': 'New York'}

In [225]:
university = {
    "student1": {"name": "Alice", "age": 22},
    "student2": {"name": "Bob", "age": 23}
}
university

{'student1': {'name': 'Alice', 'age': 22},
 'student2': {'name': 'Bob', 'age': 23}}

In [226]:
students = {
    "student1": {"name": "John", "age": 25, "city": "New York"},
    "student2": {"name": "Emma", "age": 22, "city": "Los Angeles"},
    "student3": {"name": "Mike", "age": 24, "city": "Chicago"}
}

print(students["student1"]["name"])  # Output: John
print(students["student2"]["age"])   # Output: 22

John
22

In [233]:
my_dict = dict(name="Alice", age=22, city="Paris",dob='01-10-2022')
my_dict

{'name': 'Alice', 'age': 22, 'city': 'Paris', 'dob': '01-10-2022'}

In [235]:
student = {"name": "John", "age": 25, "city": "New York"}
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'city'])
dict_values(['John', 25, 'New York'])

In [236]:
student = {"name": "John", "age": 25, "city": "New York"}

for key, value in student.items():
    print(f"{key}: {value}")

name: John
age: 25
city: New York

In [237]:
student = {"name": "John", "age": 25, "city": "New York"}

print(student.get("name"))  # Output: John
print(student.get("country", "Not Found"))  # Output: Not Found

John
Not Found

In [238]:
student = {"name": "John", "age": 25, "city": "New York"}

removed_value = student.pop("age")  
print(removed_value)  # Output: 25
print(student)  # Output: {'name': 'John', 'city': 'New York'}

25
{'name': 'John', 'city': 'New York'}