In [866]:
# ARTHIMETIC OPERATOR
X = 5
y = 10

print("Addition =", X+y) # ADDITION OPERATOR
print(f"Subtract = {X-y}") #SUBTRACTION OPERATOR
print(f"Multply = {X*y}") #Multiplication OPERATOR
print(f"Division = {X/y}") #Division OPERATOR
print(f"Modulus = {9%4}") #Modulus OPERATOR
print(f"Exponention = {X**y}") #Exponention OPERATOR
print(f"Floor divion = {9//4}") #Floor divion OPERATOR

Addition = 15
Subtract = -5
Multply = 50
Division = 0.5
Modulus = 1
Exponention = 9765625
Floor divion = 2

In [867]:
# COMPARISION OPERATOR

x = 10
y = 15

print(f"Equal Operator:{x==y}")
print(f"Not Equal Operator:{x!=y}")
print(f"Greater Than Operator:{x>y}")
print(f"Less Than Operator:{x<y}")
print(f"Greater Than or equal Operator:{x>=y}")
print(f"Less Than or equal Operator:{x<=y}")

Equal Operator:False
Not Equal Operator:True
Greater Than Operator:False
Less Than Operator:True
Greater Than or equal Operator:False
Less Than or equal Operator:True

In [868]:
# Logical Operators
x = False
y = True

print(f"AND Operator: {x and y}")
print(f"OR Operator: {x or y}")
print(f"NOT Operator: {not x} {not y}")

AND Operator: False
OR Operator: True
NOT Operator: True False

In [869]:
# ASSIGNMENT OPERATOR
x = 10
x += 5 # x = x + 5
# x -= 5
# x *= 5
# x /= 5
# x %= 5
# x **= 5
# x //= 5
print(x)

15

In [870]:
# Bitwise Operators
# 1111
# 0101 = 1010
# 1010
a = 15
b = 5
print(a&b)
print(a|b)
print(~b)
print(b << 1)
print(b >> 1)

5
15
-6
10
2

In [871]:
# MEMBERSHIP OPERATOR

students = ['John', 'Alice', 'Anne']
# membership in operator
print("Alice" in students)
print("UWINEZA" not in students)

True
True

In [872]:
students = ('John', 'Alice', 'Anne')
# membership in operator
print("Alice" in students)
print("UWINEZA" not in students)

True
True

In [873]:
x = 3
y = 4
print(x is x)
print(x is not y)

True
True

In [874]:
# LIST
class1 =  ["Y1","Y2", "Y3", "Y4"]
print(class1[2])
print(class1[1])
print(class1[0])
print(class1[-1])
print(class1[:1])
# change item
print(class1)
class1[3] = 'Y6'
print(class1)

Y3
Y2
Y1
Y4
['Y1']
['Y1', 'Y2', 'Y3', 'Y4']
['Y1', 'Y2', 'Y3', 'Y6']

In [875]:
# looping

for class2 in class1:
    print(class2, end="\t")

Y1	Y2	Y3	Y6

In [876]:
# Check If Item Exists
if class1[3] in class1:
    print(f"{class1[3]} exist in your list")

Y6 exist in your list

In [877]:
# List Length
len(class1)

4

In [878]:
# Add Items in the list
class1.append('Y5')
class1.insert(4,'Y7')
class1

['Y1', 'Y2', 'Y3', 'Y6', 'Y7', 'Y5']

In [879]:
# Remove Items (remove,pop,del,clear operations)
# class1.remove(class1[3])
# class1.pop(0)
# del class1[2]
# class1.clear()
class1

['Y1', 'Y2', 'Y3', 'Y6', 'Y7', 'Y5']

In [880]:
# copy item
class3= class1.copy()
print("Original data", class1)
print("Backup data:", class3)

Original data ['Y1', 'Y2', 'Y3', 'Y6', 'Y7', 'Y5']
Backup data: ['Y1', 'Y2', 'Y3', 'Y6', 'Y7', 'Y5']

In [881]:
# constructor

list_cons = list(('Y1','Y1', 'Y2', 'Y3', 'Y6', 'Y7', 'Y5'))
list_cons

['Y1', 'Y1', 'Y2', 'Y3', 'Y6', 'Y7', 'Y5']

In [882]:
# ORTING LIST
list_cons.sort()
list_cons

['Y1', 'Y1', 'Y2', 'Y3', 'Y5', 'Y6', 'Y7']

In [883]:
# REVERSE LIST
list_cons.reverse()
list_cons

['Y7', 'Y6', 'Y5', 'Y3', 'Y2', 'Y1', 'Y1']

In [884]:
print(list_cons.count('Y1'))

2

In [885]:
class4 = ['A1','A0','Masters','PHD']
list_cons.extend(class4)
list_cons

['Y7', 'Y6', 'Y5', 'Y3', 'Y2', 'Y1', 'Y1', 'A1', 'A0', 'Masters', 'PHD']

In [886]:
# TUPLRE
# Create tuple
colours = ("Red","Green","Blue")
print(colours[0])

Red

In [887]:
# NEGATING TUPLE 
print(colours[-1])

Blue

In [888]:
# remove set
my_set = {'banana','orage','pineaple'}
my_set.discard('banana')
my_set

{'orage', 'pineaple'}

In [889]:
# UPDATE SET
set1 = {'A','B','C'}
set2 = {'E','Z','Y'}
set1.update(set2)
print(set1)

{'C', 'B', 'Y', 'E', 'A', 'Z'}

In [890]:
result = set1.intersection(set2)
print(result)

{'Y', 'Z', 'E'}

In [891]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,9}
result = set2.difference(set1)
result

{9}

In [892]:
# dictionary
dict_1 = {"fname": 'Janvier', 'lname':'KABAKA', 'age':20,'gender':'Male'}
dict_1

{'fname': 'Janvier', 'lname': 'KABAKA', 'age': 20, 'gender': 'Male'}

In [893]:
dict_1['fname']

'Janvier'

In [894]:
# modify
print(dict_1)
dict_1['lname'] = 'MUHIRE'
dict_1['age'] = 50
print(dict_1)

{'fname': 'Janvier', 'lname': 'KABAKA', 'age': 20, 'gender': 'Male'}
{'fname': 'Janvier', 'lname': 'MUHIRE', 'age': 50, 'gender': 'Male'}

In [895]:
# loop
for key, value in dict_1.items():
    print(key, ":", value)

fname : Janvier
lname : MUHIRE
age : 50
gender : Male

In [896]:
# Check if Key Exists
if 'gender' in dict_1:
    print('record exists')

record exists

In [897]:
#  Check if Value Exists
if 50 in dict_1.values():
    print('value 50 exist')

value 50 exist

In [898]:
len(dict_1)

4

In [899]:
# Add Items to Dictionary
dict_1['attended'] = 1
dict_1

{'fname': 'Janvier',
 'lname': 'MUHIRE',
 'age': 50,
 'gender': 'Male',
 'attended': 1}

In [900]:
dict_1.pop('attended')
dict_1

{'fname': 'Janvier', 'lname': 'MUHIRE', 'age': 50, 'gender': 'Male'}

In [901]:
del dict_1['fname']
dict_1

{'lname': 'MUHIRE', 'age': 50, 'gender': 'Male'}

In [902]:
# dict_1.clear()
# dict_1

In [903]:
# Nested Dictionaries
rp = {
    "depart": {'name': 'ICT', 'field': 'IT'},
    "depart1": {'name': 'Agri', 'field': 'Crop'}
}
rp

{'depart': {'name': 'ICT', 'field': 'IT'},
 'depart1': {'name': 'Agri', 'field': 'Crop'}}

In [904]:
# The dict Constructor
dict_const = dict(Name = 'Alexis', Marital_status = 'Single')
dict_const

{'Name': 'Alexis', 'Marital_status': 'Single'}

In [905]:
#  ✓keys(): Returns all keys in a dictionary
#  ✓values(): Returns all values in a dictionary
print(dict_1.keys())
print(dict_1.values())

dict_keys(['lname', 'age', 'gender'])
dict_values(['MUHIRE', 50, 'Male'])

In [906]:
for key, value in dict_1.items():
    print(key, ':', value)

lname : MUHIRE
age : 50
gender : Male

In [907]:
result = dict_1.get('lname','Column not found!')
result

'MUHIRE'

In [908]:
print(dict_1.pop('lname'))

MUHIRE

In [909]:
dict_1

{'age': 50, 'gender': 'Male'}

In [910]:
x = 5
y = 5
if x == y:
    print('Ok')
if 5 != 7:
    print('Ok')
if x < 9:
    print('Ok')
if x > 2:
    print('Ok')
if x >= 2:
    print('Ok')
if x <= 8:
   print('Ok')

Ok
Ok
Ok
Ok
Ok
Ok

In [913]:
# elif
marks = float(input('Enter marks:'))
if marks >= 90:
    print('First Upper Class')
elif marks >= 80:
    print('First Class')
elif marks >= 70:
    print('Second Class')
elif marks >= 60:
    print('Lower Class')
elif marks >= 50:
    print('Pass')
else:
    print('Failed!')

Failed!

In [915]:
# short hand if
x=9
if x >=9: print(x)

print('x') if x<8 else print('fail')

9
fail