In [60]:
# list
fruits = ['apple','banana', 'cherry']
print(fruits[0])
for fruit in fruits:
    print(fruit)

apple
apple
banana
cherry

<h1 style='color:blue'>CONTINUE STATEMENT</h1>

In [61]:

count = 0
sum = 0
while count <= 10:
    # sum=sum + count
    if count == 5:
        
        count = count + 1  # Increment count before continue
        continue
    sum=sum + count
    print(count)        
    count = count + 1
print(sum)

0
1
2
3
4
6
7
8
9
10
50

<p style='color:green'>This is a break statement</p>

In [62]:

count = 0
sum = 0
while count <= 10:
    # sum=sum + count
    if count == 5:    
        break
    sum=sum + count
    print(count)        
    count = count + 1
print(sum)

0
1
2
3
4
10

<h1 style="color:green">FUNCTIONS</h1>

In [63]:
# function creation
def l7():
    print('Hello, Happy Valentines day')

In [64]:
# function call
l7()

Hello, Happy Valentines day

In [65]:
# Arguments
def l7(depart):
    print('my department is',depart)
depart1 ='IT'
l7(depart1)

my department is IT

In [66]:
# Arguments
def l7(x,y):
    return x+y
a =6
b= 10
print('sum = ',l7(a,b))

sum =  16

In [67]:
# Default Parameter Value
def l7(year = 3, name= 'John'):
    print('Year of study: ', year, '\n Name is: ', name)
l7()

Year of study:  3
 Name is:  John

In [68]:
# Passing a List as an Argument
def list_of_fruits(fruits):
    for fruit in fruits:
        print(fruit, end='\t')
fruit1 = ['Ange','John','Alice']
list_of_fruits(fruit1)

Ange	John	Alice

In [69]:
# ARRAY
import array as arr

university = arr.array('i',[20,90,80,17,65])
print(university)
print(university[-1])

array('i', [20, 90, 80, 17, 65])
65

In [70]:
# class
# class creation
class Person:
    def __init__(self,name,gender,age,status):
        self.name = name,
        self.gender = gender,
        self.age = age,
        self.status = status
# Create an Object
p1 = Person('John','Male',20,'Single')
print(p1.name,p1.gender,p1.age,p1.status)

('John',) ('Male',) (20,) Single

In [71]:
# class
# class creation
class Person:
    def __init__(self,name,gender,age,status):
        self.name = name,
        self.gender = gender,
        self.age = age,
        self.status = status
    def my_person(self):
        print(self.name,self.age,self.gender,self.status)
# Create an Object
p1 = Person('John','Male',20,'Single')
# Update name, gender, age
p1.name = 'Muhire'
p1.age = 40
p1.gender= 'Female'
# DROP/DELETE A CLASS PROPERTY
# del p1.status
# print(p1.name,p1.gender,p1.age,p1.status)
p1.my_person()

Muhire 40 Female Single

In [72]:
# DROP/DELETE A CLASS PROPERTY
del p1.status

In [73]:
class Student(Person):
    pass
# p1 = Student('John','Male',20,'Single')
p1.name

'Muhire'

In [74]:
# Iterators
my_tuple = ('apple','banana','cherry')
my_iter = iter(my_tuple)
print(next(my_iter))

apple

In [75]:
import math
print(math.exp(4))

54.598150033144236

In [76]:
# python date
import datetime
import time
print(datetime.date.today())
# Print today's date and time using time module
print(time.strftime("%Y-%m-%d %H:%M:%S"))

2025-02-14
2025-02-14 11:20:30

In [77]:
try:    
   x = 1
   print(x/1)
except:
    print('Number can not divided by zero')

1.0

In [78]:

try:
    x = int(input('enter num1:'))
    y = int(input('enter num2:'))
    sum = x / y
    print(sum)
except:
    print('Error')

Error