In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [6]:
i = 1
while i <= 5:
    print(i, end="\t")  # Use end="\t" to print in a horizontal line with tab spaces
    i += 1

1	2	3	4	5

In [8]:
for i in range(5):
    if i == 2:
        continue
    print(i, end="\t")

0	1	3	4

In [11]:
for i in range(5):
    if i == 3:
        break #break statement
    print(i, end="\t")

0	1	2